@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}


body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e9e9e9;
    font-family: roboto;
}

.app{
    /* background: #fafafa; */
    width: 95vw;
    height: 80vh;
    margin: auto;
    border-radius: 60px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}


